/api/commandsRunner/resourceManager
/api/test/resource/extensions/custom-extension
/api/test/resource/out-test*
/api/test/resource/extensions/custom/out*/*
/api/test/resource/test*
/api/test/resource/config.*
/api/test/resource/dummy-extension.zip
/api/test/data/extensions/embedded/ext-template/embedded/*
api/commandsRunner/cm
examples/data/*
examples/_build
.idea
vendor
_vendor*
.DS_Store
simple-custom-extension.zip
.vscode
cr-server
cr-cli
cm-dependency*
crcli-dependency*
