/api/commandsRunner/resourceManager
/api/test/resource/extensions/custom-extension
/api/test/resource/extensions/cfp-ext-template-2
/api/test/resource/out-test*
/api/test/resource/test*
/api/test/resource/config.*
/api/test/resource/dummy-extension.zip
api/commandsRunner/cm
examples/data/extensions
client
server
.idea
vendor
_vendor*
.DS_Store
simple-custom-extension.zip